

<div class="card2" style="width: 50rem;">
            <div class="card-body">
            <img class="card-img" src='https://www.bhutantoilet.org/wp-content/uploads/2019/05/bto-mission-vission.jpg' alt= "Card img cap">
            </div>
            </div>