<br>
<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Get In Touch</h4>

      <i class="fa fa-at fa-1x" aria-hidden="true"></i> bhutantoilet@gmail.com<br>
      <i class="fa fa-mobile fa-1x" aria-hidden="true"></i> (+915)17129812<br>
      <i class="fa fa-envelope fa-1x" aria-hidden="true"></i> P.O. Box no. 1791<br>
      <i class="fa fa-map-marker fa-1x" aria-hidden="true"></i> Kawajangsa, Thimphu






    </div>

</div>
</div>


