<h1>News</h1>




    <% @outtt.zip(@outll,@outii2) .each do |t,l,i| %>
        <div class="card2" style="width: 26rem;">
            <img class="card-img-top" src='<%= i %>' alt= "Card img cap">
            <div class="card-body">
            <p class="card-text"><%= t %><p>
            <a href='<%= l %>' class="btn buthome btn-dark">Read More</a>
            </div>
        </div>
        <% end %>



<br>
<br>
<br>
<br>
<br>



