<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark d-flex justify-content-center">
      <a class="navbar-brand" >XHTML Validator</a>
      <a target="_blank" href="https://validator.w3.org/check?uri=<%=request.url%>">
      <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" width="88" height="31">
      
</nav>

