// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.img-delete{
    width: 100px;
}

.hidden{
    display: none;

}
.butevent:visited {
    color: white;
}
.butshow:visited {
    color: black;
}